body {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg)
}

.menu {
    width: 556px;
    height: 28px;
    margin: 10px auto;
    display: none;
}

.close_ikon {
    float: left;
    margin: 3px 10px;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu img {
    padding: 0px;
    margin: 0px;
    width: 1em;
}

.menu li {
    border: 2px solid #aaa;
    display: inline-block;
    width: 123px;
    border-radius: 10px;
    text-align: center;
    background: #aaa;
}

.menu li a {
    text-decoration: none;
    font-size: 1,5em;
    font-family: 'Sintony', sans-serif;
    text-transform: uppercase;
    color: aliceblue;
}

.top_wraper {
    background: rgba(128, 128, 128, 0.9);
    cursor: pointer;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.top_wraper_menu{
    width: 555px;
    margin: 0px auto;
    padding: 0px;
}

.top_wraper img {
    height: 16px;
    margin: auto 10px;
    padding: 0px;    
}

.top_wraper a{
    font-size: 1em;
    line-height: 30px;
    color: aliceblue;
    padding: 0px;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
}

.current {
    background: rgba(200, 200, 30, 0.9);    
}

.article_container {
    width: 700px;
    margin: 50px auto;
    background: rgba(240, 240, 240, 0.9);
}

h3 {
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 10px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

p {
    text-align: center;
    padding:  10px;
    display: none;
}

